// __typography.less

// sans-serif font stack
@sans-serif-font-stack: "Helvetica Neue", Helvetica, Arial, "Liberation Sans", sans-serif;

// serif font stack
@serif-font-stack: "Times New Roman", Times, "Liberation Serif", serif;

// serif font stack
@mono-font-stack: "Andale Mono", Consolas, "Courier New", "Courier", "Liberation Mono", monospace;

//
@font-condensed: "Helvetica Narrow", "Arial Narrow", sans-serif;

// if this variable to a positive integer it gets set as the base font size for the whole framework.
// by default the font-size is provided by the browsers default value.
@base-font-size: 0;
