// __typography.less

// sans-serif font stack
@sans-serif-font-stack: "Helvetica Neue", Helvetica, "Liberation Sans", Arial, sans-serif;

// serif font stack
@serif-font-stack: Georgia, "Liberation Serif", Times, "Times New Roman", serif;

// mono font stack
@mono-font-stack: Menlo, Monaco, "Liberation Mono", "Courier New", Courier, monospace;

// condensed alternatives (unused?)
@font-condensed: ;

// if this variable to a positive integer it gets set as the base font size for the whole framework.
// by default the font-size is provided by the browsers default value.
@base-font-size: 0;
